<p>home-page works!</p>
<!-- <button routerLink="/sign in">sign in</button> <br/><br/> -->
<!--   routerLink="/sign up"-->
<!-- <button (click)="goToSignUpComponent()">sign up</button> -->

    <!-- <ul>
      <li>
        <button routerLink="/sign in">sign in</button> <br/><br/>
   routerLink="/sign up"-->
      <!-- </li>
      <li>
        <a routerLink="/history">history</a>
      </li>
    </ul> -->

    <div class = "">
        <ul>
          <li>
            <a routerLink="/signIn">sign up</a>
          </li>
          <li>
            <a routerLink="/signUp">sign in</a>
          </li>
        </ul>
      </div>


      <button (click)='getRecommen'>קבל המלצות</button>

      <router-outlet></router-outlet>
  
